<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="http://ceprj.gachon.ac.kr:60002/views/css/tap/ottSearch.css" type="text/css" rel="stylesheet">
    <title>OTT Search</title>
</head>
<body>
    <div>
        <table class="ottSearchTable">
            <th class="td1">title</th>
            <th class="td2">rawtitle</th>
            <th class="td1">contentId</th>
            <th class="td2">offers</th>
            <th class="td1">imageURL</th>
            <th class="td2">URL</th>
            <th class="td1">연관 콘텐츠</th>
            <th></th>
            <tr>
                <td class="td2"></td>
                <td class="td3"></td>
                <td class="td2"></td>
                <td class="td3"></td>
                <td class="td2"></td>
                <td class="td3"></td>
                <td class="td2"></td>
                <td><button type="button" class="editBtn">수정</button></td>
            </tr>
            <tr>
                <td class="td1"></td>
                <td class="td2"></td>
                <td class="td1"></td>
                <td class="td2"></td>
                <td class="td1"></td>
                <td class="td2"></td>
                <td class="td1"></td>
                <td><button type="button" class="editBtn">수정</button></td>
            </tr>
            <tr>
                <td class="td2"></td>
                <td class="td3"></td>
                <td class="td2"></td>
                <td class="td3"></td>
                <td class="td2"></td>
                <td class="td3"></td>
                <td class="td2"></td>
                <td><button type="button" class="editBtn">수정</button></td>
            </tr>
            <tr>
                <td class="td1"></td>
                <td class="td2"></td>
                <td class="td1"></td>
                <td class="td2"></td>
                <td class="td1"></td>
                <td class="td2"></td>
                <td class="td1"></td>
                <td><button type="button" class="editBtn">수정</button></td>
            </tr>
            <tr>
                <td class="td2"></td>
                <td class="td3"></td>
                <td class="td2"></td>
                <td class="td3"></td>
                <td class="td2"></td>
                <td class="td3"></td>
                <td class="td2"></td>
                <td><button type="button" class="editBtn">수정</button></td>
            </tr>
            <tr>
                <td class="td1"></td>
                <td class="td2"></td>
                <td class="td1"></td>
                <td class="td2"></td>
                <td class="td1"></td>
                <td class="td2"></td>
                <td class="td1"></td>
                <td><button type="button" class="editBtn">수정</button></td>
            </tr>
        </table>
    </div>
</body>
</html>