<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="http://ceprj.gachon.ac.kr:60002/views/css/tap/userSearch.css" type="text/css" rel="stylesheet">
    <title>User Search</title>
</head>
<body>
    <div>
        <table class="userSearchTable">
            <th class="td1">userid</th>
            <th class="td2">email</th>
            <th class="td1">등록 시간</th>
            <th class="td2">사용자 삭제</th>
            <tr>
                <td class="td2">ㄴㅁㄹㄴㅇㄹㄴㅇㄻㄴㄹㄴㅁㅇㄻㄴ</td>
                <td class="td3">jorupaza@gachon.ac.kr</td>
                <td class="td2">0000s년 00월 00시 </td>
                <td class="td3"><button type="button" class="deleteBtn">X</button></td>
            </tr>
            <tr>
                <td class="td1"></td>
                <td class="td2"></td>
                <td class="td1"></td>
                <td class="td2"><button type="button" class="deleteBtn">X</button></td>
            </tr>
            <tr>
                <td class="td2"></td>
                <td class="td3"></td>
                <td class="td2"></td>
                <td class="td3"><button type="button" class="deleteBtn">X</button></td>
            </tr>
            <tr>
                <td class="td1"></td>
                <td class="td2"></td>
                <td class="td1"></td>
                <td class="td2"><button type="button" class="deleteBtn">X</button></td>
            </tr>
            <tr>
                <td class="td2"></td>
                <td class="td3"></td>
                <td class="td2"></td>
                <td class="td3"><button type="button" class="deleteBtn">X</button></td>
            </tr>
        </table>
    </div>
</body>
</html>