<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="/views/css/tap/errorLog.css" type="text/css" rel="stylesheet">
    <script src="/views/js/errorLog.js"></script>
    <title>OTT Search</title>
</head>
<body>
  <div class="errorLogWrapper">
    <div class="errorLogText" >
        에러 로그 조회
    </div>
    <div class="errorLogTableWrapper">
        <table>
            <thead>
              <tr>
                <th class="th1">type</th>
                <th class="th2">title</th>
                <th class="th3">message</th>
                <th class="th4">timestamp</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>
    
  </div>
</body>
</html>