<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="/views/css/tap/ottAdd.css" type="text/css" rel="stylesheet">
    <script src="/views/js/ottAdd.js"></script>

    <title>OTT Add</title>
</head>
<body>
    <div class="ottAddTableWrapper">
        <div class="ottAddText">ott 콘텐츠 추가</div>
        <div class="buttons">
            <div class="reloadWrapper" onclick="reload()">
                <img class="reloadImg" src="/views/img/reload.png">
            </div>
            <div class="addWrapper" onclick="addClick()">
                <img class="addImg" src="/views/img/add.png">
            </div>
        </div>
        <div class="ottAddTable">
            <table>
                <thead>
                  <tr>
                    <th class="th1">*title</th>
                    <th class="th1-1"><input class="addTitle" placeholder="title을 입력해주세요"></th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="th1">*rawtitle</th>
                        <td class="th2"><input class="addRawtitle" placeholder="rawtitle을 입력해주세요"></td>
                    </tr>
                    <tr>
                        <th class="th1">*disneyURL</th>
                        <td class="th2"><input class="addDisneyURL" placeholder="disneyURL을 입력해주세요"></td>
                    </tr>
                    <tr>
                        <th class="th1">*wavveURL</th>
                        <td class="th2"><input class="addWavveURL" placeholder="ottAddInput을 입력해주세요"></td>
                    </tr>
                    <tr>
                        <th class="th1">*watchaURL</th>
                        <td class="th2"><input class="addWatchaURL" placeholder="watchaURL을 입력해주세요"></td>
                    </tr>
                    <tr>
                        <th class="th1">casts</th>
                        <td class="th2"><input class="addCasts" placeholder="casts를 입력해주세요"></td>
                    </tr>
                    <tr>
                        <th class="th1">*genre</th>
                        <td class="th2"><input class="addGenre" placeholder="genre를 입력해주세요"></td>
                    </tr>
                    <tr>
                        <th class="th1">jwimg</th>
                        <td class="th2"><input class="addJwimg" placeholder="jwimg를 입력해주세요"></td>
                    </tr>
                    <tr>
                        <th class="th1">*Offers</th>
                        <td class="th2"><input class="addOffers" placeholder="Offers를 입력해주세요"></td>
                    </tr>
                    <tr>
                        <th class="th1">director</th>
                        <td class="th2"><input class="addDirector" placeholder="director를 입력해주세요"></td>
                    </tr>
                </tbody>
              </table>
        </div>
        <div class="attention">
            *은 필수로 입력.
        </div>
        
    </div>
</body>
</html>