<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://ceprj.gachon.ac.kr:60002/views/css/component/footer.css" type="text/css" rel="stylesheet">
    <link href="http://ceprj.gachon.ac.kr:60002/views/css/component/menu.css" type="text/css" rel="stylesheet">
    <link href="http://ceprj.gachon.ac.kr:60002/views/css/main/main.css" type="text/css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <div class="wrapper">
        <!--메뉴 -->
        <div class="left">
            
        </div>

        <!--메인 -->
        <div class="right">
asfsa
            <!--개요-->

        </div>
    </div>

    <footer id="footer">
        
    </footer>
    <script>
        $(document).ready(function () {
            $("#footer").load("http://ceprj.gachon.ac.kr:60002/views/html/component/footer.html");
        });
        
    </script>

<script>
    $(document).ready(function () {
        $(".left").load("http://ceprj.gachon.ac.kr:60002/views/html/component/menu.html");
    });
    
</script>
</body>
</html>