body{
    margin: 0;
    bottom: 0;
    overflow: hidden;
}

#wrapper{
    width: 100vw;
    height: 10vh;
    background-color: #f8fdff;
    display: flex;
    overflow: hidden;
    align-items: center;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #d4effd; 
}

.inform{
    margin-left: 50px;
    font-size: 0.8rem;
    width: 90vw;
    color: #605C5C;
    text-align: left;
}



.logo{
    width: 10vw;    
}

.logoImage{
    width: 77px;
    height: 70px;
}