@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
.menuWrapper{
    background-color: white;
    width: 13vw;
    height: 100vh;
    padding: 20px;
    border: 2px solid lightgray;
    border-top: none;
}

.menu{
    font-family:'NanumSquare',san-serif;
    color: rgb(55, 55, 252);
    font-weight:900;
    font-size: 1rem;
}



.outline,.userManage,.dataManage,.education{
    display: flex;
    margin-top: 35px;
    margin-left: 15px;
    font-weight: bold;
}

.outline > div,.userManage > div,.dataManage > div,.education > div{
    cursor: default
}


.outlineLogo, .userManageLogo,.dataManageLogo,.educationLogo{
    width: 1rem;
    height: 1rem;
}

.outlineLogoWrapper, .userManageLogoWrapper, .dataManageLogoWrapper, .educationLogoWrapper{
    margin-right: 0.5rem;
}

.userManageMenu{
    display: flex;
    margin-top: 15px;
    margin-left: 25px;
    border-left: 3px solid lightblue;
    font-weight: 500;
}

.ottManageMenu, .educationManageMenu{
    margin-top: 15px;
    margin-left: 25px;
    border-left: 3px solid lightblue;
    font-weight: 500;
}

.userSearch,.errorLog,.ottSearch,.ottAdd,.dataEducation,.monitoring{
    width: 152px;
    transition: all 0.5s;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
}

.outline > div,.outline{
    cursor: pointer;
}



.userSearch:hover,.errorLog:hover, .ottSearch:hover, .ottAdd:hover, .dataEducation:hover, .monitoring:hover, .outline:hover{
    background : #f1f9fc; 
}

a{
    color: black;
    text-decoration: none;
}

.out{
    margin-left: 10%;
    cursor: pointer;
}

.menuLogo{
    width: 2rem;
    height: 2rem;
    margin-right: 0.3rem;
    margin-top: 1rem;
}

.menu2{
    border-left: 3px solid lightblue;
}

.logoutBtn{
    position: absolute;
    bottom: 12.5vh;
    left: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoutImg{
    width: 40px;
    height: 40px;
}

.logoutBtn:hover{
    background : #f1f9fc; 
}