.loader{
    width: 25px;
    height: 25px;
  }
  

  .downloadRequestImg{
    margin-top: 25%;
    margin-bottom: 25%;
    width: 20%;
    height: 20%;
  }



  #downloadWrapper{
    cursor: pointer;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
  }

  .downloadText{
    font-size: 1.5rem;
    margin-bottom: 100px;
  }

.request{
  display: flex;
  flex-direction: column;
}

.requestWrapper{
  display: flex;
  justify-content: right;
}

.requestImgWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 1px solid lightgray;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.requestImg1{
  width: 25px;
  height: 25px;
}
.requestImg2{
  width: 25px;
  height: 25px;
}
.requestImg3{
  width: 25px;
  height: 25px;
}

#paginationWrapper {
  display: flex;
  justify-content: space-between; /* 양쪽 끝에 배치 */
  align-items: center; /* 수직 가운데 정렬 */
}

#form-container input, select, textarea {
  background-color: #FEFEFE;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  -webkit-appearance:none;
  border-radius: 3px 0px 0px 3px;
  color: #5e5e5e;
  display: block;
  padding: 14px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  height: 40px;
  }

#form-container input:focus {
  background-color: #fff;
  border: 1px solid #6cc5f8;
  }
#form-container button.search-submit-button {
  background-color: #FEFEFE;
  border: 1px solid #ddd;
  -webkit-appearance:none;
  border-radius: 0px 3px 3px 0px;
  color: #555 !important;
  display: block;
  float: right;
  font-size: 20px;
  padding: 0px 14px;
  line-height: 1px;
  text-align: center;
  width: 47px;
  box-sizing: border-box;
  height: 47px;
  margin-left: -2px;
  cursor: pointer;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
  
  }
#form-container{
  width: 20%;
}

#form-container button.search-submit-button:hover {
  background-color: #6cc5f8;
  border: 1px solid #6cc5f8;
  -webkit-appearance:none;
  color: #fff !important;
  border-radius: 0px 3px 3px 0px;
  -webkit-transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -ms-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
  }


.explainText1,.explainText2,.explainText3{
  position: absolute;
  right: 5px;
  top: 5px;
  border: 2px solid lightgray;
  display: none;
}

