
.wrapper{
    display: flex;
}

.body{
    overflow: scroll;
}



.rightUp{
    display: flex;
    width: 90%;
    margin-bottom: 5vh;
    margin-top: 8vh;
    margin-left: 3%;
    padding-left: 13%;
}

.search{
    background-color: rgb(157, 203, 247);
    border: none;
    height: 35px;
    width: 60px;
    border-radius: 5px;
    margin-left: 15px;
}

.contentSearchInput{
    width: 400px;
    height: 25px;
    margin-top: 3px;
}



.searchText{
    margin-right: 20px;
    margin-top: 5px;
    font-weight: 400;
    font-size: 1.1rem;
}

.editBtn{
    width: 50px;
    border: 1px solid rgb(208, 208, 249);
    background-color: rgb(157, 203, 247);;
}

.tableWrapper{
  max-height: 500px; 
  overflow-y: scroll; 
  overflow-x: auto; 
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 97%;
  }
  th,
  td {
    padding: 6px 15px;
  }
  th {
    background: #42444e;
    color: #fff;
    text-align: left;
  }
  tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  td {
    border-right: 1px solid #c6c9cc;
    border-bottom: 1px solid #c6c9cc;
  }
  td:first-child {
    border-left: 1px solid #c6c9cc;
  }
  tr:nth-child(even) td {
    background: #eaeaed;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }

  tr{
    height: 30px;
  }

  td{
    max-width: 70px;
  }

  .editBtn{
    width: 50px;
    border: 1px solid rgb(208, 208, 249);
    background-color: rgb(157, 203, 247);
    margin-left: 15px;

}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 500px;
    height: 500px;
}

.close-button{
    position: absolute;
    top: 0;
    right: 0;
}

#popupTitleInput, #popupRawTitleInput, #popupContentIdInput, #popupOffersInput, #popupDisneyURLInput, #popupWavveURLInput{
    width: 100%;
}

.th1, .th2, .th4, .th5, .th6{
  width: 16%;
 
}


.th3{
  width: 10%;
}



.th7{
  width: 10%;
}