

.wrapper{
    display: flex;
}

.outlineWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graphWrapper{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graph{
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid lightgray;
}

.graphImage{
    width: 100%;
    height: 100%;
}



.number{
    margin-top: 20px;
    margin-bottom: 30px;
}

.number>span{
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.number>span:hover{
    background-color: #f1f9fc; 
}


table.outlineTable {
    width: 60%;
    background-color: white;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
  
  }
  table.outlineTable thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
  }
  table.outlineTable tbody th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
  }
  table.outlineTable td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }